body {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0px;
}

#main {
    padding-top: 40px;
    width: 500px;
    font-size: 12pt;
}

#main > p {
    text-align: justify;
}

#signup {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 9pt;
    font-style: italic;
}