body {
  min-height: 2000px;
  background: white;
  padding-top: 50px;
  font-family: helvetica;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    height: 48px;
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #428bca;
}

.bst-logotype {
    height: 200px;
    width: 200px;
}

.bst-summary {
    background-image: url('/images/bg-summary.jpg');
    padding-top: 40px;
    color: black;
    font-size: 24pt;
    padding-bottom: 40px;
    text-align: justify;
}

.bst-divider {
    border-top: 2px dashed #ddd;
    margin-bottom: 50px;
}

.bst-simplicity {
    font-size: 16pt;
    margin-bottom: 50px;
    text-align: justify;
}

.bst-affordable {
    font-size: 16pt;
    margin-bottom: 50px;
    text-align: justify;
}

.bst-open {
    font-size: 16pt;
    margin-bottom: 50px;
    text-align: justify;
    
}

.bst-contact {
    font-size: 16pt;
    margin-bottom: 50px;
    text-align: justify;
}

.bst-footer {
    border-top: 2px dashed #ddd;
    padding-top: 10px;
    font-size: 11pt;
    color: #999;
}

sup.fn {
    font-style: italic;
    font-size: 9pt;
    color: #999;
}