
.member {
  text-align: center;
}

.description {
  padding-bottom: 1em;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 70px; 
    float: left;
}

.logo-container .brand{
    font-size: 18px;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
.navbar-transparent .logo-container .brand{
    color: #FFF;
}
.logo-container{
//    margin-top: 10px;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.signup {
  text-align: middle;
  width: 50%;
}

.product {
  margin-bottom: 150px;
}

#movie {
  width: 600px;
  margin-bottom: 40px;
  border: 2px solid #333;
}

.separator-container .separator {
  color: #52ae71;
}

.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  border: 1px solid #52ae71;
}

.project-image-small > img {
  width: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.card .icon ~ h3 {
  margin-top: 5px;
  margin-bottom: 1em;
}

.section-we-do-2 .icon {
  font-size: 75px;
  line-height: 75px;
  color: #52ae71;
  margin-bottom: 10px;
}

.img-circle {
  border-radius: 50%;
  border: 3px solid #52ae71;
}

.project-content .icon-close:hover {
  color: #52ae71;
}

.social-buttons {
  margin-top: 0px;
}

#kickstarter {
  margin-top: 20px;
}

.project-content .icon-back {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  display: block;
  width: 72px;
  height: 52px;
  cursor: pointer;
  opacity: 0;
}
.project-content .icon-back i {
  font-size: 50px;
}
.project-content .icon-back:hover {
  color: #52ae71;
}

.project-content .icon-close:hover i {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.project-content.open .icon-back {
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  transition: opacity 0.1s;
  -webkit-transition-delay: 1.2s;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  -ms-transition-delay: 1.2s;
  transition-delay: 1.2s;
  opacity: 1;
}